<div class="container-fluid">
    <p id={{i}} appHighlight *ngIf='quote.upvote > 0'>{{quote.name}}</p>
    <p id={{i}} *ngIf='quote.upvote == 0'>{{quote.name}}</p>
    <p>Author: {{quote.author}}</p>
    <p>Posted by: {{quote.publisher}}</p>
    <p>Date: {{quote.date|date}}</p>
    <p>Upvotes: {{quote.upvote}}</p>
    <p>Downvotes: {{quote.downvote}} </p>
    <p>This quote was written {{quote.date|pastTime}} days past.</p>
    <div class="row">
        <div class="col">
            <button (click)= 'upvote()' class="btn btn-outline-primary">Upvote</button>
        </div>
        <div class="col">
            <button (click)= 'downvote()' class="btn btn-outline-primary">Downvote</button>
        </div>
        <div class="col">
            <button (click)= 'deleteQuote(true)' class="btn btn-outline-danger">Delete Quote</button>
        </div>
    </div>
</div>