<div class="container-fluid">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
            <label for="quote">Quote</label>
            <textarea class="form-control" id="name" [(ngModel)]="newQuote.name" rows="4" name="quote" #quote='ngModel' required></textarea>
        </div>
        <div class="form-group">
            <label for="name">Your Name</label>
            <input type="text" class="form-control" id="publisher" [(ngModel)]="newQuote.publisher" name="name" #name='ngModel' required>
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
        </div>
        <div class="form-group">
            <label for="date">Posted Date</label>
            <input type="date" class="form-control" id="date" [(ngModel)]="newQuote.date" name="date" #date="ngModel" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Add Quote</button>
        </div>
    </form>
</div>
